# Dependencies
node_modules
npm-debug.log

# Next.js build output
.next
out

# Production build
dist

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Prisma
prisma/migrations/*
!prisma/migrations/.gitkeep
